.form-container {
  width: 70%;
}
.md-button {
  margin: 0px;
  width: 100%;
}
.section-buttons {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}
.section-buttons .md-button {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
}
.my-avatar .avatar-wrapper {
  position: relative;
}
.my-avatar .avatar-wrapper img {
  border-radius: 50%;
  margin-left: 20%;
}
.my-avatar .avatar-wrapper .buttons .md-top {
  padding: 15px;
}
.grid-movies md-icon {
  width: 50%;
  height: 50%;
}
.grid-movies md-icon svg {
  border-radius: 50%;
}
.grid-movies .s64 {
  font-size: 64px;
}
.grid-movies .s32 {
  font-size: 48px;
}
.grid-movies md-icon.fa {
  display: block;
  padding-left: 0;
}
.grid-movies md-icon.s32 span {
  padding-left: 8px;
}
.grid-movies md-grid-list {
  margin: 8px;
}
.grid-movies .gray {
  background: #f5f5f5;
}
.grid-movies .green {
  background: #b9f6ca;
}
.grid-movies .yellow {
  background: #ffff8d;
}
.grid-movies .blue {
  background: #84ffff;
}
.grid-movies .darkBlue {
  background: #80d8ff;
}
.grid-movies .deepBlue {
  background: #448aff;
}
.grid-movies .purple {
  background: #b388ff;
}
.grid-movies .lightPurple {
  background: #8c9eff;
}
.grid-movies .red {
  background: #ff8a80;
}
.grid-movies .pink {
  background: #ff80ab;
}
.grid-movies md-grid-tile {
  -webkit-transition: all 300ms ease-out 50ms;
          transition: all 300ms ease-out 50ms;
}
.grid-movies md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}
.grid-movies md-grid-tile .info-container {
  display: none;
  width: 36%;
}
.grid-movies md-grid-tile .info-container md-button md-icon {
  margin-left: 20px;
}
.grid-movies md-grid-tile .img-wrapper {
  height: 100%;
  width: 64%;
}
.grid-movies md-grid-tile .img-wrapper img {
  width: 100%;
  height: 100%;
}
.grid-movies md-grid-tile md-grid-tile-header figcaption,
.grid-movies md-grid-tile md-grid-tile-footer figcaption {
  width: 100%;
}
.grid-movies md-grid-tile md-grid-tile-header figcaption h3,
.grid-movies md-grid-tile md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.grid-movies md-grid-tile:hover .info-container,
.grid-movies md-grid-tile:focus .info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
md-icon,
md-icon span {
  -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
}
.edit span {
  height: 10px;
  -webkit-transform: translateY(29px);
          transform: translateY(29px);
}
.edit .second {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.edit .third {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.edit span,
.done span {
  height: 10px;
}
.done {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.done .second,
.done .third {
  -webkit-transform: rotate(-45deg) translateY(56px);
          transform: rotate(-45deg) translateY(56px);
  width: 40px;
}
