<div class="container">
    <div class="my-avatar" layout="row" layout-sm="column" layout-margin>
        <div flex="35" layout="row" layout-margin class="myName">
            <h3>Fanggeng</h3>
            <h3>Yang</h3>
        </div>
        <div flex="25" class="avatar-wrapper">
            <img src="app/images/avatar.png">
        </div>
    </div>
    <md-divider></md-divider>
    <div class="content">
        <md-grid-list md-cols-sm="1" md-cols="2" md-row-height-gt-md="3:1" md-row-height="2:2">
            <md-grid-tile class="green">
                <div class="content">
                    <div class="title">
                        Strength
                    </div>
                    <div class="detail">
                        Strength Detail
                    </div>
                </div>
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-default">
                        <md-icon md-svg-src="app/images/svg/content/svg/production/ic_flag_24px.svg"></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-default">
                        <md-icon md-svg-src="app/images/svg/action/svg/production/ic_thumb_up_24px.svg"></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-default">
                        <md-icon md-svg-src="app/images/svg/device/svg/production/ic_devices_24px.svg"></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-default">
                        <md-icon md-svg-src="app/images/svg/device/svg/production/ic_developer_mode_24px.svg"></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-default">
                        <md-icon md-svg-src="app/images/svg/file/svg/production/ic_cloud_24px.svg"></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-default">
                        <md-icon md-svg-src="app/images/svg/notification/svg/production/ic_more_24px.svg"></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>