<div class="container">
    <div class="my-avatar" layout="row" layout-sm="column" layout-margin>
        <div flex="35" layout="row" layout-margin class="myName">
            <h3>Fanggeng</h3>
            <h3>Yang</h3>
        </div>
        <div flex="25" class="avatar-wrapper">
            <img src="app/images/avatar.png">
        </div>
    </div>
    <md-divider></md-divider>
    <div class="content">
        <md-grid-list md-cols-sm="1" md-cols="2" md-row-height-gt-md="3:1" md-row-height="2:2">
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3><md-icon md-svg-src="app/images/svg/communication/svg/production/ic_email_24px.svg"></md-icon></h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3></h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3></h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3></h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3></h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3></h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>